@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Roboto;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #AA0601;
}

img {
  max-width: 100%;
}

h1 a {
  color: #000000;
}

button {
  background-color: #FBF2F2;
}