// npm install gulp gulp-sass

// import front from google font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// import google icon
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Theme colors
$myred: #AA0601;
$myblack: #000000;
$mypink: #FBF2F2;



// style
* {
    color: inherit;
    margin: 0;
}

body {
    font-family: Roboto;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

hr {
    border: 0;
    border-top: 1px dotted $myred;
}

img {
    max-width: 100%;
}

h1 {
    a {
        color: $myblack;
    }
}

button {
    background-color: $mypink;
}


